
ul.comments-list{
	margin: 1em 0;
}

.comment-list__item{
	margin: 1em 0;
	padding: 1em 5px;

	main{
		width: 100%;
	}
}

.comment-list__title, .comment-list__item{
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;  
    flex-wrap: nowrap; 
}

.comment-list__title>a{
	    font-size: 85%;
    color: #262626;
    font-weight: 600;
    margin-right: 1em;
    float: left;
    text-transform: capitalize;
    display: inline-block;
}

.comment-avatar{
	margin-right: 1em;
	width: 30px;
	img{
		border-radius: 60%;
	}
}

.comment__text{
	font-size: 15px;
    margin: 8px 0px;

    time{
	    color: #989898;
	    font-size: 88%;
    }
}

.tagged__name{
	color: #E91E63;
}