
ul.comments-list{
	margin: 1em 0;
}

.comment-list__item{
	margin: 1em 0;
	padding: 1em 5px;

	main{
		width: 100%;
	}
}

.comment-list__title, .comment-list__item{
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;  
    flex-wrap: nowrap; 
}

.comment-list__title>a{
	    font-size: 85%;
    color: #262626;
    font-weight: 600;
    margin-right: 1em;
    float: left;
    text-transform: capitalize;
    display: inline-block;
}

.comment-avatar{
	margin-right: 1em;
	width: 30px;
	img{
		border-radius: 60%;
	}
}

.comment__text{
    font-size: 15px;
    line-height: 20px;

    time{
	    color: #989898;
	    font-size: 88%;
    }
}

.tagged__name{
	color: #E91E63;
}


.profile__info-actions>ul{
	display: flex;
	border-top: 1px solid rgba(255, 255, 255, 0.09);
		>li{
	    height: 53px;
	    line-height: 43px;
		width: 50%;
		padding: 5px;

			>a{
				color: #fff;
				font-size: 15px;
			}
			.__active{
				color: #00e8d3 !important;
			}
				i{
				    font-size: 22px;
				    margin-right: 5px;
				}
		}
}

.mdl-list__item.--with_link{
	&:hover {
    	background: rgba(148, 159, 164, 0.13) !important;
	}
}

.mt-list-centerd{
	display: flex;
    justify-content: center;
    align-items: center;
}

.social-list__item{

	.social-list__item_link{
		margin-left:5px;
		i{
			font-size: 2em;
		}
	}

}

.mdl-list__item-primary-content>.mdl-list__title{
	    color: rgba(0, 0, 0, 0.77);
}

#contact_list>.mdl-list__item{
	padding-left:0;
	padding-bottom:0;

	.mdl-list__item-primary-content{
		flex-grow: 0;
	    margin-right: 16px;
	    color: rgba(32, 32, 36, 0.65);
	    font-size: 20px;
	}

	>i {font-size: 23px;}

	.mdl-sec-content{
		color: #202024;
		font-size: 13px;
	}
}

.top-shots>li{
	position: relative;
}