.progress {
    border: 0;
    background-image: none;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 8px;
    border-radius: 0!important;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress {
    overflow: hidden;
}

$color: #ff4081;
$speed: 1s;
$ease: cubic-bezier(0.730, -0.600, 0.465, 1.640);
$stroke: 3vmin;
$ripples: 4;
$alpha: 0.2;
$size: 15vmin;

.pulsating {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  height: $size;
  width: $size;
  margin: $size / -2;
  border-radius: 100%;
    background: #f79aba;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: codefights-pulsating $speed $ease infinite;

  span {
    //fill: white;
    width: $size / 5 * 4;
    height: $size / 5 * 4;
  }
}

@keyframes codefights-pulsating {
$from: ();
$to: ();
  @for $i from 0 to $ripples {
    @if $i < $ripples - 1 {
      $shadow: 0 0 0 ($i * $stroke) rgba($color, $alpha);
      $from: append($from, $shadow, comma);
      $shadow: 0 0 0 (($i + 1) * $stroke) rgba($color, $alpha);
      $to: append($to, $shadow, comma);
    }

    @else if $i == $ripples - 1 {
      $shadow: 0 0 0 ($i * $stroke) rgba($color, $alpha);
      $from: append($from, $shadow, comma);
      $shadow: 0 0 0 (($i + 1) * $stroke) rgba($color, 0);
      $to: append($to, $shadow, comma);
    }
  }

  0% {
    box-shadow: $from;
  }

  100% {
    box-shadow: $to;
  }
}
//Paginations
.pagination{
    display: inline-block;
    padding-left: 15px;
    margin: 20px 0;
    border-radius: 4px;

}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li {
    display: inline;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}