#avatar~.mdl-menu__container{
	right: 15px !important;
    top: 47px !important;
}

#new-followers~.mdl-menu__container{
	right: 53px !important;
    top: 47px !important;
}

#messages~.mdl-menu__container{
	right: 98px !important;
    top: 47px !important;
}

#notifications~.mdl-menu__container{
    right: 185px !important;
    top: 47px !important;
    width: 290px !important;
    min-height: 340px;

    >.mdl-menu__outline{
    	    width: 290px !important;
    	    min-height: 340px;
    }
}

.mt-drop__menu{
    clip: rect(0px 500px 500px 0px) !important;
    width: 100%;
    padding: 0;
}

.mt-dropmenu__header, .mt-dropmenu__footer{
    color: #767676;
    text-align: center;
    background: rgba(238, 238, 238, 0.44);
    padding: 1.2em 0;
    cursor: pointer;
    opacity: 1;
}

.mt-dropmenu__footer{
    background: map-get($ui-color, 'redish');
    >a{
        color: #fff;

        &:hover{
            color: #fff;
        }
    }
}
.mt-dropmenu__items{
    height: 250px;
    overflow-y: auto;

}