<div class="overlay-wrapper">

	<section class="mdl-cell mdl-cell--12-col light-shadow mt-shot" ng-cloak>

	<!-- The header -->
		<header class="mt-shot-header clearfix">
            <section>
              <span class="time">{{shot.published_at}}</span>
              <span class="mdl-layout-spacer"></span>
              <a ng-href="/{{shot.owner.username}}" class="mt-shot-avatar" title="{{shot.owner.display_name}}">
                 <h2 class="mt-avatar-name">{{shot.owner.display_name}}</h2>
                  <img height="30" width="30" ng-src="{{shot.owner.avatar.avatar_small}}" alt="{{shot.owner.display_name}}">
              </a>
            </section>
         </header>

         <!-- The Figure -->
		<figure class="mt-figure__card mdl-card shot-cover">
			<img ng-src="{{shot.image.original}}">
		</figure>

		<!-- Notes -->
		<div class="shot-info">

			<!-- description -->
			<div class="shot-description">
				<p ng-bind-html="shot.description | linkfy:'_blank'"></p>
			</div>

			<div class="mdl-card__actions" style="padding:0">
              <a ng-click="like(shot.name)" class="material-icons mdl-badge mdl-badge--overlap like-btn2" ng-class="{'red-color': shot.likes.is_liked}"><i class="mdi mdi-heart"></i><span class="count_text">{{shot.likes.like_count}}</span></a>

              <a ng-click="" class="material-icons mdl-badge mdl-badge--overlap"><i class="mdi mdi-comment"></i><span class="count_text"></span></a>
	        </div>
	    </div>
	</section>

</div>