 

 /* ==========================================================================
    Cards
   ========================================================================== */

@media (min-width: 768px){
  .card:hover {
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
      box-shadow: 0 10px 20px 0 rgba(168,182,191,0.6);

    img{
      opacity: .8;
    }
  }

}

.card, .card img{
      -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.mt-card{
  background: #fff;
  padding: 1em;
}
.mt__media-card{
    height: 290px;
    background: #000;
    overflow: hidden;
}

figure.shot-cover{
    text-align: center;
    padding: 0;
    background: #fff;
    display: block;
    height: auto;
}

figure.shot-cover.--profile__feed{
        max-width: 600px;
    max-height: 500px;
}

.light-shadow {
    box-shadow: 0px 0px 0px 1px rgba(140, 140, 140, 0.15);
}

.cloudy-glow{
      box-shadow: 0 10px 20px 0 rgba(86, 95, 99, 0.19);

      }

.md-whiteframe-4dp{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}
 /* ==========================================================================
    MDL grid compponents
   ========================================================================== */



/*Overright*/
@media (max-width: 428px){
.featured-grid>.mdl-cell--2-col, .mdl-cell--2-col-phone.mdl-cell--2-col-phone {
    width: calc(36% - 16px);
}
    .mt-shot-item{
      margin: 0px 2px 2px 0 !important;
    }


}

/* ==========================================================================
    Rows
   ========================================================================== */
.mt-row{
  width: 80%;
  margin: 0 auto;
  padding: 1em 20px;
  min-width: 75em;

}

.mt-row--fullwidth{
  @extend .mt-row;
  width:100%;
  padding: 0;

}

.featured-grid{
  padding:0;
    max-width: 935px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

}


@media (min-width: 736px){
.featured-grid{
    box-sizing: content-box;
    padding: 0 20px;
    width: calc(100% - 40px);
  }

}

@media (max-width: 840px){
.featured-grid > .mdl-cell--4-col, .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
    width: calc(34.3444444% - 15px) !important;
}
}


.card-shadow{
      -moz-box-shadow: rgba(0, 0, 0, .2) 0 2px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, .2) 0 2px 1px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .2) 0 1px 1px;
}

.light.figure-overlay {
  position: relative;
    > a:hover:after{
  background-color: rgba(0, 0, 0, 0.13);
}
}
/*Lets look at what breaks*/


@media (max-width: 1049px) {
  .mt-row{
    width: 100%;
    min-width: 60em;
  }

}


/*Panels*/

.mt-panel-heading{
      padding: 10px 15px;
      min-height: 100px !important;
}

@media (max-width: 860px) {
  .mt-row{
    width: 100%;
    min-width: 10em;
  }
}

.mt-figure__card{
    padding: 0 87px;
    background: #000000;
    height: 555px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*Mansonry grid*/

.grid{
  position: relative;
  padding: 6px;
}
.grid-item {
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
    
    figure{
      overflow: hidden;
      position: relative;
      min-height: 300px;
    }
}

.mt-shot{
  background-color: #fff;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.37, 0.15, 0.32, 0.94);
transition-property: -webkit-transform;
  transition-property: opacity, background-color;
  border-radius: 4px;

  .mt-image-holder{
    min-height: 250px;
  }

  .shot-description{
    padding: 10px 1em;

  }
  .mdl-card__actions{

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 10px;
    color:rgba(0,0,0,0.54);


    >a{
      margin: 0 8px;

      i{
        font-size: 22px;
      }
    }

  }


}


.ais-hits--item>.grid-item{
  width: 25%;
}

.grid-item figcaption {
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
}

@media screen and (max-width: 1000px){
  .grid-item {
      width: calc(33.3333333333% - 6px);
  }
}

@media screen and (max-width: 768px){
  .grid-item {
      width: calc(50% - 6px);
  }
}

@media screen and (max-width: 490px){
  .grid-item {
    width: calc(100% - 25px);
  }
}

.mt-shot-header{
    background-color: #fff;
}

.mt-grid___link:hover .dimOverlay, .mt-grid___link:hover figcaption:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.alert-card{
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
  }
}
.alert-card.card__right{
    position: fixed;
    top: 59px;
    right: 8px;
}

.alert-card .card-content p {
    margin: 0;
    color: inherit;
}
.alert-card i {
    font-size: 20px;
    position: relative;
    top: 2px;
}


.card--full{
  width: 100%;
  background: #fff;
  margin-bottom: 8px;
  border-radius: 3px;
}

.padding-top{
  padding: 10px 0 0 16px;
}

.card-media{
  max-height: 300px;
  overflow: hidden;
}

.header_card{
      margin-top: 2em;
    margin: 1em 16px;
    min-height: 120px;
    margin-bottom: 0;
    width: calc(100% - 32px);
}

#profile-shot{
  .mt-image-holder{
    max-height: 506px;
    max-width: 506px;
    overflow: hidden;
    margin: 0 auto;
  }

}

.figure-overlay>a:after{
    content: "";
    position: absolute;
    background: rgba(0,0,0,0);
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.figure-overlay > a:hover:after{
  background: rgba(0,0,0,.3);
}

.dimGradient{
      background-color: #000;
    background-color: rgba(0,0,0,0.15);

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.89) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.89) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.89) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

    bottom: 0;
    height: 150px;
    left: 0;
    position: absolute;
    right: 0;

}

.mdl-card__actions.floated_actions{
    position: absolute;
    bottom: 0;
    z-index: 9;
}

.mt-shot.preview_card{
  max-width: 345px;
}
.upload-wrapper{
  padding: 3em 0;
}
.article-image{
      width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}